@import url('https://fonts.googleapis.com/css?family=Trirong');
@import url('https://fonts.googleapis.com/css?family=Rubik:300');

body {
  padding: 2em;
}

h1, h2, h3, h4, p, li {
  color: $black;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Trirong', serif;
}

h4, p {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5em;
}

section {
  margin-bottom: 2em;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

*, *:before, *:after {
  box-sizing: border-box;
}

ul > li {
  list-style: none;
}
