@import url('https://fonts.googleapis.com/css?family=Trirong');
@import url('https://fonts.googleapis.com/css?family=Rubik:300');

h1, h2, h3, h4, p, ul, li {
  color: $black;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Trirong', serif;
}

h4, li, p {
  font-family: 'Rubik', sans-serif;
  line-height: 1.5em;
}

section {
  margin-bottom: 2em;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

ul > li {
  list-style: none;
}

body {
  padding: 1em;
  background: url('./assets/background/background.png');
  background-repeat: no-repeat;
  background-position: center top;
}
