.advisory-board {
  padding: 0 0.5em;
}

.advisory-board__title {
  font-weight: 300;
  margin-bottom: 1em;
}

.advisors {
  display: flex;
  flex-flow: column wrap;
}

.advisor {
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

.advisor:nth-child(n + 1) {
   border: 1px solid $light-blue;
}

.advisor:nth-child(2n + 1) {
   border: 1px solid $yellow;
}

.advisor:nth-child(3n + 1) {
   border: 1px solid $dark-blue;
}

.advisor__name {
  line-height: 2em;
}

.advisor__org {
  line-height: 2em;
  font-size: 0.85em;
}
