.advisory-board {
  padding: 0 0.5em;
}

.advisory-board__title {
  font-weight: 300;
  margin-bottom: 1em;
}

.advisors {
  display: flex;
  flex-flow: column wrap;
  background: $white;
}

.advisor {
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0.5em;
}

.advisor__name {
  line-height: 2em;
}

.advisor__org {
  line-height: 2em;
  font-size: 0.85em;
}
