.header__title {
  font-family: 'Rubik', sans-serif;
  font-size: 1.25em;
  text-align: center;
  padding: 1em;
}

.nav-list {
  width: 100%;
  padding: 0 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 1em;
}

.nav-item {
  text-decoration: underline;
  display: inline-block;
}
.nav-item:hover {
  color: gray;
}
