.mission {
  border: 1px solid $light-blue;
  padding: 1em;
  margin: 0 1em;
}

.mission__statement {
  line-height: 1.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.mission__desc {
  font-size: 1.1em;
  margin-bottom: 2em;
}
