.principles {
  border: 1px solid $yellow;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4em;
  width: calc(100% - 3em);

}
.principles__title {
  text-align: center;
  padding: 1em;
}

.principles__table {
  padding: 0 1em;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2em;
}

.row__number-container {
  position: relative;
  width: 35px;
  margin-right: 15px;
}

.row__number {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid $light-blue;
  border-radius: 50%;
  position: absolute;
  top: -0.35em;
}

.row__text {
  /* width + margin-right */
  width: calc(100% - 50px);
}
