@include tablet-breakpoint {
  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .nav-list {
    justify-content: flex-end;
    width: auto;
  }

  .nav-item:nth-child(1) {
    margin-right: 2em;
  }
}
