@include tablet-breakpoint {
  .mission {
    padding: 0 3em;
    background-color: $white;
    background-image: url('./assets/background/oasp-illustration.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 150px -25px;
  }

  .mission__statement {
    line-height: 1.7em;
    text-align: left;
    font-size: 2em;
    margin: 0.5em 0;
  }

  .mission__desc {
    margin-bottom: 5em;
    width: 70%;
  }
}
