@include tablet-breakpoint {
  .resources {
    padding: 0 1.5em;
  }

  .resource {
    position: relative;
    padding: 2em;
  }

  .resource__institution {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 1px solid;
    border-left: 1px solid;
    padding: 0.5em 1em;
  }

  .resource__title {
    font-size: 1.25em;
    letter-spacing: 1px;
  }
}
