@import './sass/_normalize.scss';

@import './sass/_colors.scss';
@import './sass/_default.scss';
@import './sass/_colorful_list.scss';
@import './sass/_breakpoints.scss';

// Mobile
@import './sass/mobile/header.scss';
@import './sass/mobile/mission.scss';
@import './sass/mobile/principles.scss';
@import './sass/mobile/advisory-board.scss';
@import './sass/mobile/company-logos.scss';
@import './sass/mobile/contributions.scss';
@import './sass/mobile/legal.scss';
@import './sass/mobile/footer.scss';

// Tablet
@import './sass/tablet/header.scss';
// @import './sass/tablet/mission.scss';
// @import './sass/tablet/principles.scss';
// @import './sass/tablet/advisory-board.scss';
// @import './sass/tablet/company-logos.scss';
// @import './sass/tablet/contributions.scss';
// @import './sass/tablet/legal.scss';
// @import './sass/tablet/footer.scss';
