.company-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
}

.company-logo {
  width: 30%;
  max-width: 150px;
  margin: 4px;
  margin-bottom: 1em;

  img {
    width: 100%;
  }
}
