.contributions {
  padding: 0 0.5em;
}

.contributions__title {
  margin-bottom: 1em;
  font-weight: 300;
}

.contribution {
  margin-bottom: 1em;
}

.contribution:nth-child(n + 1) {
  border: 1px solid $light-blue;

  .contribution__institution {
    border-bottom: 1px solid $light-blue;
  }
}

.contribution:nth-child(2n + 1) {
  border: 1px solid $yellow;

  .contribution__institution {
    border-bottom: 1px solid $yellow;
  }
}

.contribution:nth-child(3n + 1) {
  border: 1px solid $dark-blue;

  .contribution__institution {
    border-bottom: 1px solid $dark-blue;
  }
}

.contribution__institution {
  text-transform: uppercase;
  font-size: 0.7em;
  text-align: center;
  padding: 5px;
}

.contribution__info {
  padding: 1em;
}

.contribution__title {
  text-decoration: underline;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
}
