.footer {
  padding: 0 0.5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.footer__ai2-logo {
  width: 80%;
  max-width: 200px;
  margin-bottom: 1em;

  img {
    width: 100%;
  }
}

.footer__contact {
  font-family: 'Rubik', sans-serif;
  color: $primary-blue !important;
  margin-bottom: 1em;
  font-weight: bold;
}
