@include desktop-breakpoint {
  .mission {
    padding: 0 5em;
    background-size: 80%;
    background-position: right bottom;
  }

  .mission__statement {
    margin-top: 2em;
  }

  .mission__desc {
    width: 60%;
    margin-bottom: 8em;
  }
}
